body {
  background-color: rgb(239, 243, 245);
}
.container .search {
  display: block;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  color: rgb(30, 27, 63);
}
h3 {
  text-align: left;
  padding: 5px;
}

img {
  display: block;
  margin: 0 auto;
  padding: 10px 5px;
}
li {
  text-align: left;
  list-style-type: none;
  border: 1px solid grey;
  margin: 4px 10px;
  padding-left: 30px;
  padding: 10px;
}

button {
  display: block;
  position: relative;
  margin: 10px;
  border: rgb(161, 154, 154) solid;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(63, 62, 62);
}
.weathernow {
  border: 4px solid;
  border-radius: 40px 20px;
  border-color: rgb(161, 154, 154);
  padding: 10px;
}
.dayweather {
  border: 2px solid;
  border-color: rgb(161, 154, 154);
  margin: 12px 10px;
}
.container .highlow {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 15px;
  border: 2px solid;
}
.col-2 {
  border: 2px solid;
  border-radius: 20px;
  margin: 20px;
  text-align: center;
  padding: 3px 1px;
}
