body {
  text-align: center;
  background-color: rgb(241, 250, 246);
}
h1 {
  text-align: center;
  padding-top: 20px;
}
input {
  padding-right: 90px;
  margin-right: 10px;
}
button {
  margin-right: 10px;
}
form {
  display: inline-flex;
}
ul {
  list-style-type: none;
}
.search-form {
  padding-left: 0;
  text-align: left;
}
.overview {
  padding-left: 1px;

  list-style-type: none;
}
.container {
  list-style-type: none;
  text-align: center;
}
.container-search {
  padding: 0;
  margin: auto;
}

.col-4 {
  padding-left: 10px;
  padding-bottom: 15px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #dadeda;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast-temperature-min {
  color: rgb(119, 116, 111);
}

#wind-humid {
  list-style-type: none;
  margin: auto;
  color: rgb(119, 116, 111);
}

#finalLink {
  list-style-type: none;
  text-align: center;
}
#fahrenheit-link {
  color: black;
  text-decoration: none;
}
#celcius-link {
  color: black;
  text-decoration: none;
}
#temperature {
  font-size: 50px;
}
